@import '../../global/variable.scss';

.menu__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: 18rem;
    height: 100%;
    padding: 2rem 1rem;
    border-radius: 2rem;
    background-color: $base-yellow;
    box-shadow: 0 0 0.5rem 0 $yellow-shadow;

    @media (max-width:$mobile) {
        position: absolute;
        z-index: 1;
        left: 0.5rem;
        top: 0.5rem;
        height: auto;
        max-width: 5rem;
        padding: 2rem 0.5rem 1rem 0.5rem;
        border-radius: 2rem 0 1rem 0;
        box-shadow: none;

        &.short {
            background-color: transparent;

            .menu,
            .btn,
            .line,
            .swither {
                display: none;
            }

            .home {
                display: flex;
            }
        }
    }

    .menu {
        font-size: 2rem;
        text-align: center;
        color: $base-black;
        font-family: $font-rounds;
        width: 100%;
        border: none;
        background-color: transparent;

        @media (max-width:$mobile) {
            font-size: 0.9rem;
        }
    }

    .line {
        width: 100%;
        background-color: $base-light_gray;
        height: 0.2rem;
        border-radius: 0.2rem;
        margin-bottom: 1rem;
    }

    .btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 6.45dvh;
        margin: 1.4218dvh auto;
        padding-left: 1rem;
        border: none;
        border-radius: 1rem;
        background-color: $base-light_gray;
        box-shadow: 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1254901961);
        overflow: hidden;
        transform: translateY(0);
        transition: all ease-in 300ms;

        @media (max-width:$mobile) {
            width: auto;
            height: auto;
            padding: 0;
            margin: 0.2rem auto;
            border-radius: 50%;
            border: 0.2rem solid $base-white;
        }

        &.disabled {
            opacity: .4;
            transform: translateY(0.25rem);
            box-shadow: 0.125rem 0 #00000020;
        }

        .text {
            font-size: 1.4rem;
            color: $base-gray;
            font-family: $font-mont;
            font-weight: bold;

            @media (max-width:$mobile) {
                display: none;
            }
        }

        .image {
            width: 5rem;
            height: 100%;
            border-radius: 1rem;
            background-color: $base-white;
            background-repeat: no-repeat;
            background-position: center;

            @media (max-width:$mobile) {
                width: 3rem;
                height: 3rem;

            }
        }
    }

    .swither {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 2rem;

        button {
            font-size: 1.75rem;
            color: $base-black;
            font-weight: bold;
            font-family: $font-rubik;
            text-transform: uppercase;
            background-color: transparent;
            border: none;

            @media (max-width:$mobile) {
                font-size: 1rem;
            }
        }

        .spliter {
            width: 0.2rem;
            background-color: $base-black;
            height: 1.5rem;
            margin: 0 0.5rem;

            @media (max-width:$mobile) {
                width: 0.2rem;
                height: 0.7rem;
                margin: 0 0.3rem;
            }
        }
    }

    .home {
        display: none;
        justify-content: center;
        align-items: center;
        width: 2.75rem;
        height: 2.75rem;
        border-radius: 50%;
        border: none;
        margin: 0 auto;

        svg {
            width: 100%;
            height: 100%;
            padding: 0.5rem;
            color: $base-black;
        }
    }
}