$base-white: #fff;
$base-black: #000;
$base-sand: #ffdd0026;
$base-red: #f00;
$base-yellow: #fd0;
$base-light_gray: #4a4e53;
$base-gray: #d9d9d9;
$yellow-shadow: #867312;

$mobile: 1024px;

$font-rounds: 'Rounds Black', sans-serif;
$font-mont: 'Montserrat', sans-serif;
$font-rubik: 'Rubik', sans-serif;