.music {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    cursor: pointer;
    opacity: 0;
    z-index: -1;
    transition: all ease-in 0ms;

    &.active {
        opacity: 1;
        z-index: 1;
        transition: all ease-in 300ms;
    }
}