@import '../../../global/variable.scss';

.cross {
    position: absolute;
    z-index: -1;
    top: 2.375rem;
    right: 2.375rem;
    height: 2.75rem;
    width: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $base-yellow;
    border-radius: 50%;
    border: none;
    opacity: 0;
    transition: all ease-in-out 0ms;

    &.active {
        z-index: 10;
        opacity: 1;
        transition: all ease-in-out 500ms;
    }

    svg {
        margin: 0 auto;
        width: 100%;
        max-width: 2rem;
        height: auto;
    }
}